<div id="general">
  <button id="btn" type="button" (click)="getCompanies()">GET COMPANIES</button>

  <ul>
    <li *ngFor="let company of companies" >
      <span [id]="company.name">{{ company.name }}</span>
      {{ company.segment }}
      {{ company.standard_deviation }}
    </li>
  </ul>
</div>


<router-outlet></router-outlet>